.drawerContainer a{
    color: white;
    text-decoration: none;
    margin: 30px 0px 0px 20px;
}

.drawerContainer .iconButton{
    margin: 20px;
}

.drawerContainer .iconButton svg{
    color: white;
    font-size: 25px;
}

.headerContainer{
    display: flex;
}

.headerContainer .appBar{
    background: linear-gradient(90deg, rgba(27,27,27,1) 10%, rgba(60,60,60,1) 30%, rgba(48,48,48,1) 50%, rgba(60,60,60,1) 70%, rgba(27,27,27,1) 90%);
}

.headerContainer a{
    color: white;
    text-decoration: none;
}

.headerContainer a:hover{
    color: #2196f3;
}

.myLogo{
    margin-top: 8px;
    width: 50px;
    border-radius: 50%;
}